# SPDX-FileCopyrightText: 2025 IObundle
#
# SPDX-License-Identifier: MIT

[submodule "py2hwsw/lib/hardware/iob_system/submodules/VEXRISCV"]
	path = py2hwsw/lib/iob_system/submodules/iob_vexriscv
	url = git@github.com:IObundle/iob-vexriscv.git
